body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

#logo {
  width: 205px;
  height: 50px;
}

#title {
  text-align: center;
}

#powered {
  vertical-align: middle;
  margin-left: 5px;
}

.footer {
  text-align: center;
  padding: 20px 0;
}
