{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>{% block title %}Godpanel{% endblock %}</title>
  <link href='http://fonts.googleapis.com/css?family=Lato:100,400,700' rel='stylesheet' />
  <link rel="stylesheet" href="{% static 'godpanel/css/fullcalendar.min.css' %}">
  <link rel="stylesheet" href="{% static 'godpanel/css/scheduler.min.css' %}">
  <link rel="stylesheet" href="{% static 'godpanel/css/jquery.qtip.min.css' %}">
  <link rel="stylesheet" href="{% static 'godpanel/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'godpanel/css/bootstrap-theme.min.css' %}">
  <link rel="stylesheet" href="{% static 'godpanel/css/godpanel.css' %}">
</head>
<body>
  <div class="container-fluid">
    {% block content %}{% endblock %}

    <div class="row">
      <div class="col-md-12">
        <footer class="footer">
          <p>Godpanel &copy; made in <a href="http://www.h-art.com">H-ART</a> <a href="http://www.djangoproject.com"><img id="powered" src="https://www.djangoproject.com/s/img/badges/djangopowered126x54.gif" alt="Django powered" width="63" height="27"></a></p>
        </footer>
      </div>
    </div>
  </div>

  <script src="{% static 'godpanel/js/jquery.min.js' %}"></script>
  <script src="{% static 'godpanel/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'godpanel/js/jquery.qtip.min.js' %}"></script>
  <script src="{% static 'godpanel/js/moment.min.js' %}"></script>
  <script src="{% static 'godpanel/js/fullcalendar.min.js' %}"></script>
  <script src="{% static 'godpanel/js/lang/it.js' %}"></script>
  <script src="{% static 'godpanel/js/scheduler.min.js' %}"></script>
  <script src="{% static 'godpanel/js/godpanel.js' %}"></script>
</body>
</html>
