{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Godpanel{% endblock %}</title>
  <link href='http://fonts.googleapis.com/css?family=Lato:100,400,700' rel='stylesheet' />
  <link rel="stylesheet" href="{% static 'panel/css/fullcalendar.min.css' %}">
  <link rel="stylesheet" href="{% static 'panel/css/scheduler.min.css' %}">
  <link rel="stylesheet" href="{% static 'panel/css/jquery.qtip.min.css' %}">
  <link rel="stylesheet" href="{% static 'panel/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'panel/css/bootstrap-theme.min.css' %}">
  <link rel="stylesheet" href="{% static 'panel/css/godpanel.css' %}">
</head>
<body>
  <div class="container">
    {% block content %}{% endblock %}
  </div>

  <script src="{% static 'panel/js/jquery.min.js' %}"></script>
  <script src="{% static 'panel/js/jquery.qtip.min.js' %}"></script>
  <script src="{% static 'panel/js/moment.min.js' %}"></script>
  <script src="{% static 'panel/js/fullcalendar.min.js' %}"></script>
  <script src="{% static 'panel/js/lang/it.js' %}"></script>
  <script src="{% static 'panel/js/scheduler.min.js' %}"></script>
  <script src="{% static 'panel/js/godpanel.js' %}"></script>
</body>
</html>
